.textinput {
  box-sizing: border-box;
  width: 375px;
  height: 45px;
  padding: 15px;
  color: black;
  background: linear-gradient(rgba(0, 0, 0, 0.071) 0%, white 10%);
  border: 1px solid $darkGray;
  transition: border-color 0.2s ease-in-out;
}

.input-label {
  margin-bottom: 5px;
  color: $darkGray;
}

::placeholder {
  color: $darkGray;
  font-weight: bold;
}
