.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .login-wrapper {
        width: 500px;
        padding: 50px;
        background: #fff;
        margin: auto;
        height: 735px;
        box-sizing: border-box;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.078);
        .login-inputs,
        .login-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .input-element {
            margin-bottom: 20px;
            width: 100%;
        }
        .login-inputs {
            width: 375px;
            margin: auto;
        }
    }
    .brand {
        font-size: 45px;
        color: $brandBlue;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        margin: 0;
        margin-bottom: 15px;
    }
    .create-account {
        font-weight: 300;
        color: black;
        margin: 0;
        margin-bottom: 25px;
    }
    .invalid-input {
        border-color: $red;
    }
    .valid-input {
        border-color: $green;
    }
    .btn {
        width: 380px;
        height: 50px;
        background: $btnGreen;
        color: white;
        font-size: 18px;
        transition: background 0.08s ease-in-out;
        cursor: pointer;
        &:hover {
            background: $btnGreenHover;
        }
        &:disabled {
            background: $gray;
        }
    }
    .btn-bounce {
        animation: btnbounce 0.2s ease-in-out;
    }
    @keyframes btnbounce {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(-30px);
        }
        75% {
            transform: translateX(30px);
        }
        100% {
            transform: translateX(0);
        }
    }
}