.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .login-wrapper {
        width: 510px;
        padding: 50px;
        background: white;
        margin: auto;
        .login-inputs,
        .login-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .input-element {
            margin-bottom: 20px;
        }
    }
    .brand {
        font-size: 45px;
        color: $brandBlue;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        margin: 0;
        margin-bottom: 15px;
    }
    .create-account {
        font-weight: 300;
        color: black;
        margin: 0;
        margin-bottom: 25px;
    }
    .invalid-input {
        border-color: $red;
    }
    .valid-input {
        border-color: $green;
    }
}

.btn {
    width: 380px;
    height: 35px;
    background: $green;
}