.pwd-strength-gray,
.pwd-strength-red,
.pwd-strength-yellow,
.pwd-strength-green {
    width: 32%;
    height: 10px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.pwd-strength-gray {
    background-color: $gray;
}

.pwd-strength-red {
    background-color: $red;
}

.pwd-strength-yellow {
    background-color: $yellow;
}

.pwd-strength-green {
    background-color: $green;
}

.textinput-pwd {
    margin-bottom: 5px;
}

.password-strength {
    display: flex;
    justify-content: space-around;
}