.password-strength-indicator {
    width: 32%;
    height: 10px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.password-requirement {
    margin: 10px 0;
}

.password-strength-requirement {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
    display: inline-block;
}

.password-requirement-label {
    display: inline-block;
    margin-left: 10px;
}

.pwd-strength-gray {
    background-color: $gray;
}

.pwd-strength-red {
    background-color: $red;
}

.pwd-strength-yellow {
    background-color: $yellow;
}

.pwd-strength-green {
    background-color: $green;
}

.textinput-pwd {
    margin-bottom: 10px;
}

.password-strength {
    display: flex;
    justify-content: space-around;
}