.pwd-strength-gray,
.pwd-strength-red,
.pwd-strength-yellow,
.pwd-strength-green {
    flex-grow: 32%;
    height: 10px;
    border-radius: 50%;
}

.pwd-strength-gray {
    background-color: $gray;
}

.pwd-strength-red {
    background-color: $red;
}

.pwd-strength-yellow {
    background-color: $yellow;
}

.pwd-strength-green {
    background-color: $green;
}